.bar {
    fill: #71eeb8;
}

.bar:hover {
    fill: blue;
}

#chart rect {
    fill: #4aaeea;
}

#chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

body {
    background: #1a1a1a;
    color: #eaeaea;
    padding: 10px;
}

.tooltip {
    position: absolute;
    text-align: center;
    max-width: 70px;
    max-height: 30px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-top: -30px;
    font: 10px sans-serif;
    background: black;
    color: #71eeb8;
    pointer-events: none;
}