:root {
        --ic-brand-primary-darkened-5: #A81616;
--ic-brand-primary-darkened-10: #9F1515;
--ic-brand-primary-darkened-15: #961414;
--ic-brand-primary-lightened-5: #B32222;
--ic-brand-primary-lightened-10: #B72E2E;
--ic-brand-primary-lightened-15: #BB3939;
--ic-brand-button--primary-bgd-darkened-5: #A81616;
--ic-brand-button--primary-bgd-darkened-15: #961414;
--ic-brand-button--secondary-bgd-darkened-5: #313131;
--ic-brand-button--secondary-bgd-darkened-15: #2C2C2C;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-30: #4C4C4C;
--ic-link-color-darkened-10: #006581;
--ic-link-color-lightened-10: #197E9A;
--ic-brand-primary: #B01717;
--ic-brand-font-color-dark: #000;
--ic-link-color: #00708F;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #333;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #EAEBEF;
--ic-brand-global-nav-ic-icon-svg-fill: #4D4D4D;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #4D4D4D;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #EAEBEF;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #EAEBEF;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_64890000000000001/attachments/1532205/CCSFLogo.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: #000000;
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #000000;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #000000;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_64890000000000001/attachments/1532206/CCSFLogo.png');
--ic-brand-Login-Content-bgd-color: #000000;
--ic-brand-Login-Content-border-color: #000000;
--ic-brand-Login-Content-inner-bgd: #000000;
--ic-brand-Login-Content-inner-border: #000000;
--ic-brand-Login-Content-inner-body-bgd: #000000;
--ic-brand-Login-Content-inner-body-border: #000000;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ff0000;
--ic-brand-Login-instructure-logo: #ff0000;
      }